In [1]:
import sys
sys.path.append("../")

from src import dataset

In [2]:
excel_file = "20160921-analysisofestimatedarrivals.xlsx"
df = dataset.load_excel(excel_file)

In [3]:
df.head()

0          Arrivals to Italy
Date
2015-10-01               343
2015-10-02                 0
2015-10-03               128
2015-10-04                62
2015-10-05                 0